[build]
  publish = "dist"
  command = "npm run build"

[[headers]]
  for = "/*"
  [headers.values]
  X-Frame-Options = "DENY"
  X-Content-Type-Options = "nosniff"
  Referrer-Policy = "no-referrer-when-downgrade"
  X-XSS-Protection = "1; mode=block"
  Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
  Content-Security-Policy = "default-src 'self' https: data: 'unsafe-inline' 'unsafe-eval'"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
